.site-image {
	margin: 2px;
	border-radius: 5px;
}

.site-image:hover {
	filter: brightness(1.2); /* Adjust the brightness to create a highlight effect */
	border: 1px solid #326FBA;
}

.site-url {
margin: 0px;
}


.image-with-tooltip {
	position: relative;
  }
  
  .image-with-tooltip::after {
	content: attr(data-tooltip);
	visibility: hidden;
	opacity: 0;
	background-color: #333;
	color: #fff;
	text-align: center;
	border-radius: 4px;
	padding: 5px;
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	transform: translateX(-50%);
	transition: opacity 0.3s, visibility 0.3s;
  }
  
  .image-with-tooltip:hover::after {
	visibility: visible;
	opacity: 1;
  }